* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 950px;
    background-color: aliceblue;
    position: fixed;
}

.items:hover {
    background-color: aqua;
}

div.main {
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
}

div.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

img.Japhet {
    width: 30%;
    height: 600px;
    border-radius: 100px;
}

div.ourMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

div.contact {
    margin-left: 13%;
    width: 70%;
}

div.footer {
    width: 100%;
    background-color: rgb(189, 187, 187);
    margin-top: 60px;
}